<section class="example">
    <div class="container">
        <h2 class="example-title">icons constructor</h2>
        <div class="d-flex g-1 mb-1">
            <i class="icon icon-sm"></i>
            <i class="icon icon-sm icon-attep"></i>
            <i class="icon icon-sm icon-bit"></i>
            <i class="icon icon-sm icon-ecoi"></i>
            <i class="icon icon-sm icon-cryp"></i>
            <i class="icon icon-sm icon-tron"></i>
        </div>
        <div class="d-flex g-1 mb-2">
            <i class="icon icon-md"></i>
            <i class="icon icon-md icon-attep"></i>
            <i class="icon icon-md icon-bit"></i>
            <i class="icon icon-md icon-ecoi"></i>
            <i class="icon icon-md icon-cryp"></i>
            <i class="icon icon-md icon-tron"></i>
        </div>
        <div class="d-flex g-1 mb-3">
            <i class="icon icon-lg"></i>
            <i class="icon icon-lg icon-attep"></i>
            <i class="icon icon-lg icon-bit"></i>
            <i class="icon icon-lg icon-ecoi"></i>
            <i class="icon icon-lg icon-cryp"></i>
            <i class="icon icon-lg icon-tron"></i>
        </div>
        <div class="d-flex g-1 mb-4">
            <i class="icon icon-xl"></i>
            <i class="icon icon-xl icon-attep"></i>
            <i class="icon icon-xl icon-bit"></i>
            <i class="icon icon-xl icon-ecoi"></i>
            <i class="icon icon-xl icon-cryp"></i>
            <i class="icon icon-xl icon-tron"></i>
        </div>
        <div class="d-flex g-1 mb-5">
            <i class="icon icon-xxl"></i>
            <i class="icon icon-xxl icon-attep"></i>
            <i class="icon icon-xxl icon-bit"></i>
            <i class="icon icon-xxl icon-ecoi"></i>
            <i class="icon icon-xxl icon-cryp"></i>
            <i class="icon icon-xxl icon-tron"></i>
        </div>
    </div>
</section>